@model List<Asignacion_2_Recordatorios.Models.RecordatorioVista>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">
            Mis Recordatorios
        </h2>
        <a asp-action="Create" class="btn btn-primary shadow-sm">
            + Nuevo Recordatorio
        </a>
    </div>
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <partial name="_TablaRecordatorios"  model="Model" />
        </div>
    </div>
</div>